.bg-testimonial {
  width: 100%;
  background-image: url(../../../assets/images/bg-testimonial.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 5rem;
}

@media (min-width: 768px) {
  .bg-testimonial {
    padding-top: 5rem;
    padding-bottom: 18rem;
    min-height: 780px;
  }
}

.testimonial-cta {
  position: relative;
  z-index: 20;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .testimonial-cta {
    position: absolute;
    left: 50%;
    bottom: -6rem;
    transform: translateX(-50%);
    margin-top: 0;
  }
}

.icon-flip {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.icon-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-face img {
  width: auto;
  height: auto;
  max-width: none;
}

.icon-face.icon-back {
  transform: rotateY(180deg);
}

.icon-wrapper:hover .icon-flip {
  transform: rotateY(180deg);
}