@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-floatY {
  animation: floatY 3s ease-in-out infinite;
}
